.comics {
    &__content {
        margin-top: 50px;
        display: grid;
        grid-template-columns: 650px 425px;
        column-gap: 25px;
        align-items: start;
    }

    &__flex {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    &__comicsitem {
        margin-bottom: 50px;
        img {
            width: 235px;
            height: 350px;
            box-shadow: 5px 5px 10px rgba(0, 0, 0, .25);
            cursor: pointer;
            transition: 0.2s transform;
            &:hover {
                box-shadow: 0 5px 20px #9f0013;
                transform: scale(1.05);
            }
        }
    }

    &__comicsname {
        width: 225px;
        font-weight: bold;
        font-size: 15px;
        padding-top: 20px;
        padding-bottom: 5px;
        line-height: 16px;
        text-transform: uppercase;
        color: black;
    }
    &__price {
        color: black;
        font-size: 15px;
        
    }
}
